html, body {
    width: 100%;      /*provides the correct work of a full-screen layout*/ 
    height: 100%;     /*provides the correct work of a full-screen layout*/
    overflow: hidden; /*hides the default body's space*/
    margin: 0px;      /*hides the body's scrolls*/
    font-family: 'Roboto', sans-serif;
}

.icon_file {
    background-image: url("/front-end/img/icon_file.gif");
}
.icon_opened {
    background-image: url("/front-end/img/icon_folder_opened.gif");
}
.icon_closed {
    background-image: url("/front-end/img/icon_folder_closed.gif");
}